<%= javascript_include_tag ("https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false") %>
<script type="text/javascript">
    var <%= map_handler%> = <%= map_handler%> || {};
    var <%= map_handler%>Marker = <%= map_handler%>Marker || {};

    jQuery(function () {
        var marker = null;
        var defaultPoint = null;
        var center = null;

         <% if lat_column_value &&  lng_column_value%>
            defaultPoint = new google.maps.LatLng(<%= lat_column_value%>, <%=lng_column_value %>);
        <% end %>
        <% unless default_coordinates.empty?%>
            center = new google.maps.LatLng(<%= default_coordinates[0]%>, <%=default_coordinates[1] %>);
        <% end %>

        var myOptions = {
            zoom: <%=zoom_level %>,
            center: center,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("<%=map_container%>"), myOptions);
        <%= map_handler%> = map;

        <% if lat_column_value && lng_column_value%>
        marker = new google.maps.Marker({
            position:defaultPoint,
            map:map
        });
    <% end%>

        <%= map_handler%>Marker = marker;

        google.maps.event.addListener(map, 'click', function(e) {
            updateLocation(e.latLng);
        });

        function updateLocation(location) {
            if(marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            <%= map_handler%>Marker = marker;
            map.setCenter(location);
            jQuery("#<%= lat_dom_id%>").val(location.lat());
            jQuery("#<%=lng_dom_id %>").val(location.lng());
        }

    });
</script>
<div class="<%= map_container_class%>" id="<%=map_container%>" style="<%= "width:#{map_width};height:#{map_height}"%>">
</div>
<%= lat_field%>
<%= lng_field%>

