
<script type="text/javascript">
    var afterGmapLoaded = function(){
        var <%= map_handler%> = <%= map_handler%> || {};

        var marker = null;
        var latlng = new google.maps.LatLng(<%= default_coordinates[0]%>, <%=default_coordinates[1] %>);

        var myOptions = {
            zoom: <%=zoom_level %>,
            center:latlng,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("<%=map_container%>"), myOptions);
        <%= map_handler%> = map;

        <% if lat_column_value && lng_column_value%>
        marker = new google.maps.Marker({
            position:new google.maps.LatLng(<%= lat_column_value%>,<%=lng_column_value %>),
            map:map
        });
        <% end%>

        google.maps.event.addListener(map, 'click', function(e) {
            updateLocation(e.latLng);
        });

        function updateLocation(location) {
            if(marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }

            map.setCenter(location);
            jQuery("#<%= lat_dom_id%>").val(location.lat());
            jQuery("#<%=lng_dom_id %>").val(location.lng());
        }


    }
    if (typeof window.google == 'undefined' || typeof google.maps == 'undefined'){
        $.getScript('<%= "http://maps.googleapis.com/maps/api/js?key=#{api_key}" %>', function(){
            afterGmapLoaded()
        });
    }else {
        afterGmapLoaded();
    }

</script>
<div class="<%= map_container_class%>" id="<%=map_container%>" style="<%= "width:#{map_width};height:#{map_height}"%>">
</div>
<%= lat_field%>
<%= lng_field%>

